.email {
  font-size: 12px;
}
#date-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.week {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 4px;
  margin: 2px;
}
.week p {
  text-align: center;
}
.counter {
  font-weight: bold;
}
.green20 {
  background-color: #a6f4aa;
}
.green40 {
  background-color: #6bc970;
}
.green60 {
  background-color: #59b55d;
}
.green80 {
  background-color: #4ea952;
}
.green100 {
  background-color: #44a049;
}
.green120 {
  background-color: #3e9642;
}
.green130 {
  background-color: #2d7e31;
}
.red {
  background-color: #FF5252;
}
@media (max-width: 1000px) {
  #date-table {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
