.email {
  font-size: 12px;
}
#date-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.week {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 4px;
  margin: 2px;
}
.week p {
  text-align: center;
}
.counter {
  font-weight: bold;
}
.light-green-background {
  background-color: #DCEDC8;
}
.mid-green-background {
  background-color: #8BC34A;
}
.dark-green-background {
  background-color: #689F38;
}
.light-red-background {
  background-color: #FFCCBC;
}
.mid-red-background {
  background-color: #FF5722;
}
.dark-red-background {
  background-color: #E64A19;
}
